[submodule "sdk/sim_vexv5/vendor/assimp"]
	path = sdk/sim_vexv5/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "sdk/sim_vexv5/vendor/imgui"]
	path = sdk/sim_vexv5/vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "sdk/sim_vexv5/vendor/stb"]
	path = sdk/sim_vexv5/vendor/stb
	url = git@github.com:nothings/stb.git
[submodule "sdk/sim_vexv5/vendor/mujoco"]
	path = sdk/sim_vexv5/vendor/mujoco
	url = http://github.com/deepmind/mujoco.git
[submodule "RobotBuilder/Builder/vendor/OBJ-Loader"]
	path = RobotBuilder/Builder/vendor/OBJ-Loader
	url = git@github.com:Bly7/OBJ-Loader.git
[submodule "RobotBuilder/Builder/vendor/tinyobjloader"]
	path = RobotBuilder/Builder/vendor/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "RobotBuilder/Builder/vendor/objgl"]
	path = RobotBuilder/Builder/vendor/objgl
	url = git@github.com:karolek471/objgl.git
